@import "constants.less";

.board-details-window {
	border: 1px solid @border-color;
	background-color: white;
	position: relative;
	margin: 48px 0 80px;
	display: none;
	flex-flow: column nowrap;
	width: 768px;
	height: 1200px;
	padding-top: 14px;
	padding-right: 14px;
	padding-bottom: 14px;
	border-radius: @border-radius;
	z-index: 25;
	overflow: hidden;

	-webkit-box-shadow: @modal-shadow;
	-moz-box-shadow: @modal-shadow;
	box-shadow: @modal-shadow;

	font-size: 14px;


}