@import "constants.less";

.board-header {
	display: flex;
	justify-content: space-between;

	input.board-title {
		flex: 0 1 auto;
		display: flex;
		font-size: 20px;
		border-width: 0;
		font-weight: 600;
		color: @normal-foreground-color;
		cursor: pointer;
		width: calc(100% - 124px);
		padding-left: 4px;
	}

	input.board-title:focus {
		cursor: text;
	}


	.board-details-button {
		flex: 0 1 auto;
		height: 32px;
		border: 1px solid @border-color;
		cursor: pointer;
		border-radius: @border-radius;
		background-color: @background-color-of-element;
		width: 122px;
		text-align: center;

		span {
			color: @normal-foreground-color;
			line-height: 32px;
			margin-left: 4px;
			margin-right: 4px;
		}
	}

	.board-details-button:hover {
		background-color: @background-color-of-hovered-element;
	}

}

.lists-container {
	position: absolute;
	top: 112px;
	right: 0;
	bottom: 0;
	left: 0;
	user-select: none;
	white-space: nowrap;
	margin-bottom: 8px;
	overflow-x: auto;
	overflow-y: hidden;
	padding-bottom: 8px;

	.fake-list-wrapper,
	.list-wrapper {
		height: 100%;
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;
		white-space: nowrap;
		margin-left: 5px;
		margin-right: 5px;

		.list {
			border: 1px solid @border-color;
			background-color: @background-color-of-element;
			border-radius: @border-radius;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			max-height: 100%;
			position: relative;
			white-space: normal;
			width: 270px;

			.list-header {
				display: flex;
				padding: 10px 8px;
				position: relative;

				.list-caption {
					width: 232px;

					input {
						width: 216px;
						font-size: 16px;
						background-color: @background-color-of-element;
						border-width: 0;
						padding-left: 4px;
						height: 21px;
						font-weight: 600;
						color: @normal-foreground-color;
						cursor: pointer;
					}

					input:focus {
						cursor: text;
					}
				}

				.list-menu-button {
					width: 24px;
					height: 24px;
					cursor: pointer;
					border-radius: @border-radius;
					display: flex;

					i {
						font-size: 12px;
						margin: auto;
						color: @list-util-foreground-color;
					}
				}
				.list-menu-button:hover {
					background-color: @background-color-of-hovered-element;
				}


			}

			.list-cards {
				flex: 1 1 auto;
				overflow-y: auto;
				overflow-x: hidden;
				margin: 0 4px;
				padding: 0 4px;
				z-index: 1;
				min-height: 0;

				.list-card {
					background-color: @background-color-of-list-card;
					border-radius: @border-radius;
					box-shadow: 0 1px 0 rgba(9,30,66,.25);
					cursor: pointer;
					display: block;
					margin-bottom: 8px;
					max-width: 300px;
					position: relative;
					text-decoration: none;
					z-index: 0;
					padding: 5px;

					span {
						color: @normal-foreground-color;
					}
				}

				.list-card:last-child {
					margin-bottom: 1px;
				}
			}

			.card-composer {
				height: 38px;
				display: flex;
				cursor: pointer;
				border: 4px solid @background-color-of-element;
				border-radius: @border-radius;
				box-sizing: border-box;
				margin: 0 4px;

				span {
					margin-left: 4px;
					color: @list-util-foreground-color;
					line-height: 32px;
				}
			}
			.card-composer:hover{
				background-color: @background-color-of-hovered-element;

				span {
					color: @normal-foreground-color;
				}
			}
		}

		.fake-list {
			border: 1px solid @border-color;

			.add-list-button {
				height: 50px;
				cursor: pointer;
				border-left: 8px solid @background-color-of-element;
				border-right: 8px solid @background-color-of-element;
				border-top: 4px solid @background-color-of-element;
				border-bottom: 4px solid @background-color-of-element;
				border-radius: @border-radius;
				box-sizing: border-box;

				span {
					margin-left: 4px;
					color: @list-util-foreground-color;
					line-height: 44px;
				}
			}

			.add-list-button:hover {
				background-color: @background-color-of-hovered-element;

				span {
					color: @normal-foreground-color;
				}
			}
		}

	}

	.list-wrapper:first-child {
		margin-left: 10px;
	}

	.list-wrapper:last-child {
		margin-right: 10px;
	}
}