@import "constants.less";


input, textarea, body {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
	color: @normal-foreground-color;
}

textarea,
input {
	border-radius: @border-radius;
}

.highlight {
	color: #d70808 !important;
}

.link {
	cursor: pointer;
	color: unset;
	text-decoration: none;
	border-bottom: 1px dotted transparent;
}

.link:hover {
	border-bottom: 1px dotted #000;
}

.hidden {
	display: none;
}

.button-skeleton {
	display: flex;
	border: 1px solid @border-color;
	cursor: pointer;
	border-radius: @border-radius;
	background-color: @background-color-of-element;
	margin-bottom: 4px;
}