@import "constants.less";
@import "default.less";
@import "modal-window.less";


.page-container {
	display: flex;
	flex-flow: column nowrap;
	height: 100vh;


	.page-item {
		margin: 5px;
		padding: 5px;
		flex: 0 1 auto;

		.top-menu-row {
			display: flex;
			height: 40px;
			justify-content: space-between;
			border: 1px solid @border-color;
			border-radius: @border-radius;


			.top-menu-item {
				margin: 5px;
				flex: 0 1 auto;
			}

			.left-items-area {
				display: inline-flex;
				align-items: center;
				cursor: pointer;

				.logo {
					width: 32px;
					height: 32px;
					cursor: pointer;
				}

				h3 {
					margin-left: 10px;
					font-size: 18px;
					font-weight: 600;
				}


			}

			.right-items-area {
				display: inline-flex;
				align-items: center;

				.auth-wrapper {
					.sign-in {
						margin-right: 10px;
					}
				}

				.user-area {
					.boards-list, .create-board, .notifications, .profile {
						margin-right: 10px;
					}
				}
			}
		}

		.main-content-row {
			display: flex;
			height: 100%;
			flex-flow: column;

			.content-area {
				display: flex;
				flex-flow: column nowrap;
				flex-grow: 1;

				@import "dashboard.less";
				@import "board.less";
			}
		}

		.bottom-menu-row {
			display: flex;
			height: 40px;
			justify-content: space-between;
			border: 1px solid @border-color;

			.bottom-menu-item {
				margin: 5px;
				flex: 0 1 auto;
			}

		}

	}

	.page-item:nth-child(2) {
		flex: 1 1 auto;
	}



}



