<div class="page-item">
    <div class="top-menu-row">
        <div class="top-menu-item left-items-area">
            <img src="../../assets/img/logo.png" alt="Kaban logo" class="logo">
            <h3 class="link">Kaban board</h3>
        </div>
        <div class="top-menu-item right-items-area">
            <div class="auth-wrapper">
                <span class="sign-in link">Sign In</span>
                <span class="sign-up link">Sign Up</span>
            </div>
            <div class="user-area hidden">
                <span class="boards-list link">Boards</span>
                <span class="notifications link">Notifications</span>
                <span class="profile link">User profile</span>
            </div>
        </div>
    </div>
</div>