@import "src/less/constants.less";

.popup-menu {
	border: 1px solid @border-color;
	background-color: white;
	position: absolute;
	display: none;
	flex-flow: column nowrap;
	padding: 2px;
	border-radius: @border-radius;
	min-width: 180px;

	-webkit-box-shadow: @modal-shadow;
	-moz-box-shadow: @modal-shadow;
	box-shadow: @modal-shadow;

	z-index: 25;

	.menu-item {
		display: flex;
		padding: 2px 4px 2px 20px;
		cursor: pointer;
		line-height: 18px;

		span {
			font-size: 14px;
		}
	}
	.menu-item:hover {
		background-color: @background-color-of-hovered-element;
	}

}