@import "src/less/constants.less";

.window-menu {
	border: 1px solid @border-color;
	background-color: white;
	display: none;
	flex-flow: column nowrap;
	padding: 8px;
	border-radius: @border-radius;
	z-index: 30;
	width: 400px;
	position: absolute;
	right: 9px;
	top: 52px;

	-webkit-box-shadow: @modal-shadow;
	-moz-box-shadow: @modal-shadow;
	box-shadow: @modal-shadow;


	.menu-items {
		margin-top: 20px;

		> div {
			line-height: 20px;
		}
	}



}